* {
  box-sizing: border-box; 
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background:url("../images/background.jpg"); 
  background-size: cover;
  margin: 0;
  
}

.intro-div {
  margin: 0;
  width: 100%;
  max-width: none;
  height: 100vh;
  background:rgba(0, 0, 0, 0.45); 
  
}
.container-div
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.item
{
  width: 600px;
  color: #fff;
  text-align: center;
}

.blue{
  color: #0288D1;
}

h1{
  font-size: 30px;
  font-weight: 200;
}

.btn-primary{
  outline: none;
  height: 60px;
  text-align: center;
  width: 250px;
  border-radius: 4px;
  background: #E9B35B;
  border: 2px solid #E9B35B;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 0;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.btn-primary:hover{
  background: #DD9936;
  border-color:  #DD9936;

}

@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.facebook{
  background-color: #3b5998 !important;
  border-color: #3b5998 ;
}

.facebook:hover{
  background-color: #3b5998 !important;
  border-color: #3b5998 ;
}


.twitter{
  background-color: #1da1f2  !important;
  border-color: #1da1f2  ;
}

.twitter:hover{
  background-color: #1da1f2  !important;
  border-color: #1da1f2  ;
}



