*{
	font-family: 'Roboto Condensed', sans-serif;
	text-align: justify;
}

.btn-login{
	background-color: #E9B35B !important;
	color: #fff !important;
}

.btn-login:hover{
	background-color: #DD9936 !important;
}
.contenedor-Div{
	padding: 35px;
}

h1{
	text-align: center !important;

}

.footer{
	background-color: ##17202A !important;
}

.div-Footer{
	
   left: 0;
   bottom: 0;
   width: 100%;
background-color: #212121; color: white;
   text-align: center;
   padding: 20px;
}

.facebook{
  background-color: #3b5998 !important;
  border-color: #3b5998 ;
}

.facebook:hover{
  background-color: #3b5998 !important;
  border-color: #3b5998 ;
}


.twitter{
  background-color: #1da1f2  !important;
  border-color: #1da1f2  ;
}

.twitter:hover{
  background-color: #1da1f2  !important;
  border-color: #1da1f2  ;
}

.fooCont{
  padding:20px;
  margin:0;
  background-color: #212121;
  height: 100px;
  color: #FFF;
}